<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.AdminMapper">
    <!--查找订单resultmap-->
    <resultMap id="selectOrdersResultMap" type="com.store.model.User">
        <id column="user_id" property="id"/>
        <collection property="ordersList" ofType="com.store.model.Orders">
            <id column="o_id" property="id"/>
            <result column="user_id" property="userId"/>
            <collection property="orderDetailsList" ofType="com.store.model.OrderDetails">
                <id column="od_id" property="id"/>
                <result column="items_number" property="itemsNumber"/>
                <result column="money" property="money"/>
                <result column="cost" property="cost"/>
                <association property="items" javaType="com.store.model.Items">
                    <id column="items_id" property="id" />
                    <result column="title" property="title"/>
                    <result column="name" property="name"/>
                    <result column="photo" property="photo"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <select id="userList" resultType="com.store.model.User">
        select * from store_user
        <if test="searchText != null">
            WHERE
            name LIKE  #{searchText}
            OR account LIKE #{searchText}
            OR email LIKE #{searchText}
            OR phone_number LIKE #{searchText}
        </if>
    </select>
    <select id="adList" resultType="com.store.model.Advertisement">
        select * FROM
        store_advertisement
        <if test="searchText != null">
            where
            items_name like #{searchText}
            OR description like #{searchText}
        </if>
    </select>

    <select id="selectOrders" resultMap="selectOrdersResultMap">
       	select o.user_id,o.o_id,od.items_id,od.items_number,od.money,od.cost,i.title,i.name ,i.photo
        FROM
        store_orders o
        LEFT JOIN
        store_orderdetails od
        on
        o.o_id = od.orders_id
        LEFT JOIN
        store_items i
        on
        od.items_id = i.id
        where
        o.user_id = #{userId}
    </select>


</mapper>