<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.AdvertisementMapper">
    <select id="selectAdvertisements" resultType="com.store.model.Advertisement">
        select * from
        store_advertisement
        where
        user_id = #{id}
        <if test="searchText != null">
            AND
            items_name LIKE #{searchText} OR
            description LIKE #{searchText}
        </if>
    </select>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete FROM
        store_advertisement
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteById" parameterType="Integer">
        delete from
        store_advertisement
        where id = #{id}
    </delete>
</mapper>