<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.CartItemsMapper">
    <delete id="deleteByIds" parameterType="java.util.List">
        delete FROM
        store_cartitems
        WHERE items_id  IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <update id="updateCost" parameterType="com.store.model.CartItems">
        update
        store_cartitems
        set
        cost = #{cost}
        where
        cit_id = #{id}
    </update>
</mapper>