<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.ItemsMapper">
    <!--配置redis二级缓存 -->
    <cache eviction="LRU" type="com.store.cache.RedisCache" />
    <!--查找商品及对应的用户-->
    <resultMap id="BaseResultMap" type="com.store.model.Items">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="FLOAT"/>
        <result column="add_date" property="addDate" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="details" property="details" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="INTEGER"/>
        <result column="photo" property="photo" jdbcType="VARCHAR"/>
        <result column="number" property="number" jdbcType="VARCHAR"/>
        <result column="uid" property="uid" jdbcType="INTEGER"/>
        <association property="user" javaType="com.store.model.User">
            <id column="uid" property="id"/>
        </association>
    </resultMap>
    <sql id="select">
        name,price,type,title,details,number,photo,add_date,update_date,uid,id
    </sql>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete FROM
        store_items
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectItemsList" resultType="com.store.model.Items">
        select <include refid="select"/> FROM
        store_items
        WHERE uid = #{uid}
        <if test="searchText != null">
            AND name LIKE #{searchText}
            OR type LIKE #{searchText}
            OR title LIKE #{searchText}
            OR price LIKE #{searchText}
            OR number LIKE #{searchText}
        </if>
        <if test="preDate != null">
            AND add_date &gt;= #{preDate}
        </if>
        <if test="lastDate != null">
            AND add_date &lt;= #{lastDate}
        </if>

    </select>

    <select id="selectTypeItems" resultType="com.store.model.Items">
        select <include refid="select"/>
        FROM
        store_items
        where type = #{type}
    </select>

    <select id="selectListByIds" parameterType="java.util.List" resultType="com.store.model.Items">
        select *  FROM
        store_items
        WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="saveOne" parameterType="com.store.model.Items" useGeneratedKeys="true" keyProperty="id">
        insert into store_items
        (name,type,title,photo,price,number,details,update_date,add_date,uid)
        values
         (#{name},#{type},#{title},#{photo},#{price},#{number},#{details},#{updateDate},#{addDate},#{uid})
    </insert>

    <select id="selectUserItems" resultType="com.store.model.Items" parameterType="Integer" >
        select * from
        store_items
        where uid =
        (select uid FROM store_items where id = #{id})
        AND
        type =
        (select type FROM store_items where id = #{id})
    </select>
</mapper>