<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.store.dao.OrderDetailsMapper">
    <!--配置redis二级缓存 -->
    <cache eviction="LRU" type="com.store.cache.RedisCache" />
    <update id="updateNumber" parameterType="com.store.model.OrderDetails">
        UPDATE store_orderdetails SET items_number = #{itemsNumber} WHERE  od_id = #{id}
    </update>

    <delete id="deleteByIds" parameterType="java.util.List">
        delete FROM
        store_orderdetails
        WHERE items_id  IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>


</mapper>